#NOTE: THIS IS SIMPLY TAKEN FROM SMOLVLAs get_optimizer_preset method -> needs to be checked if necessary and needs to be
#integrated into FLOWER config/ training pipeline
_target_: lerobot.optim.optimizers.AdamWConfig
lr: 2e-5
betas: [0.9, 0.95]
eps: 1e-8
weight_decay: 0.01
