# conf/config.yaml
defaults:
# - model: flower
- _self_


# Top-level metadata + short-cuts
base_output_dir: ./output/train/xvla/${now:%Y-%m-%d}/${now:%H-%M-%S}
repo_id: "pepper_only"
dataset_path: "/hkfs/work/workspace/scratch/usmrd-MemVLA/datasets/lerobot/pepper_only" #"/hkfs/work/workspace/scratch/usmrd-MemVLA/datasets/lerobot/multi_task_11" #"/hkfs/work/workspace/scratch/usmrd-MemVLA/datasets/lerobot/pepper_only"
# checkpoint_path: ${train.checkpoint_path}

hydra:
  run:
    dir: ${base_output_dir}/hydra

wandb:
  enable: true
  project: "xvla-training"
  entity: "usmrd"
  mode: "online"

policy:
  push_to_hub: false
  pretrained_path: "lerobot/xvla-base"
  freeze_vision_encoder: true
  freeze_language_encoder: true
  train_policy_transformer: true
  train_soft_prompts: true
  action_mode: "franka_joint7" #auto
  num_image_views: 2
  empty_cameras: 1 #NOTE: this is very confusing in the documentation but basically we can not have empty_camera already in the input_features
# I think the issue is that the pretrained config that gets saved, saves the new values therefore it adds empty_camerea to the input_features
# even though we should not set them (?)
  scheduler_decay_steps: 40000

train:
  # resume: false
  # checkpoint_path: "lerobot/xvla-base"
  batch_size: 64 #40000
  steps: 60000 #100000
  save_freq: 20000
  seed: 42
  # device: cuda #not sure if neeeded
  # num_workers: 4
  log_freq: 100
  output_dir: ${base_output_dir}/model_outputs
  job_name: "xvla_training_${now:%Y-%m-%d}_${now:%H-%M-%S}"
  push_to_hub: false
  # gradient_checkpointing: true
  # compile_model: false
